:root {
	--color-sea-green: hsl(192, 37%, 48%);
	--color-dark-purple: hsl(258, 34%, 53%);
	--color-light-purple: hsl(268, 100%, 86%);
	--color-grey: hsl(240, 10%, 57%);
	--color-dark-grey: hsl(240, 21%, 20%);
	--color-cyan: hsl(192, 90%, 77%);
	--color-white: hsl(0, 0%, 98%);
}

/* base */

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--color-white);
	font-family: 'Red Hat Display', sans-serif;
}

/* utilities */

.heading {
	color: var(--color-dark-grey);
	font-weight: 900;
}

.heading--white {
	color: var(--color-white);
}

.subheading {
	color: var(--color-sea-green);
	font-weight: 900;
	font-size: 1rem;
	letter-spacing: .25rem;
	text-transform: uppercase;
}

.paragraph {
	color: var(--color-grey);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.625;
}

@media only screen and (min-width: 48rem) {
	.paragraph {
		font-size: 1.125rem;
		line-height: 1.45;
	}
}

/* scroll */

.scroll-container {
	/* height: 100vh; */
}

.scrollbar-thumb {
	background: hsl(192, 37%, 48%, .75) !important;
}

.scrollbar-track {
	background: hsl(192, 37%, 48%, .3) !important;
}